<div class="page-header">
  <%= link_to new_user_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Sign Up
  <% end %>
  <%= link_to member_root_url, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Log In
  <% end %>
  <h1>Home Page</h1>
</div>

